.article-panel {
    display: flex;
    position: relative;
    max-height: 424px;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.article-panel:hover {
    cursor: pointer;
}

.article-panel-img {
    position: relative !important;
    height: 100%;
    width: 100%;
    border-radius: 0 0 0 64px;
    object-fit: cover;
    display: none;
    flex: 1;
    max-height: 328px;
}

.article-panel-heading,
.article-panel-text,
.article-panel-icon {
    align-items: flex-start;
    align-self: center;
}

.article-panel:hover #heading {
    text-decoration: underline;
}

.article-panel-animation svg {
    transition: margin-left 0.5s;
}

.article-panel-animation:hover svg {
    margin-left: 10px;
}

.size {
    width: 100%;
}

.article-panel-flex {
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
}

.article-panel-grid {
    display: grid;
    grid-template-columns: 8fr 1fr;
}

@media (min-width: 1200px) {
    .article-panel {
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        padding: 0;
    }

    .article-panel-img {
        display: flex;
        padding: 2rem;
    }

    .article-panel-heading,
    .article-panel-text {
        align-items: flex-start;
        padding: 0;
    }

    .article-panel-text {
        margin: 3rem 0;
    }

    .article-panel-icon {
        margin-top: 2rem;
    }

    .size {
        width: 50%;
    }

    .article-panel-grid {
        display: inherit;
    }
}
