.article {
    max-width: 55ch;
    width: 100%;
    margin: 0 auto;
}

.arb-article-figure-pull-outside {
    width: 100%;
}

@media (min-width: 928px) {
    .arb-article-figure-pull-outside {
        width: 800px;
        margin-left: -100px;
        margin-right: -100px;
    }
}
