.container-small,
.container-medium,
.container-large {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

@media (min-width: 900px) {
    .container-small,
    .container-medium,
    .container-large {
        padding: 0 2.5rem;
    }
}

.container-small {
    max-width: 65ch;
}

.container-medium {
    max-width: 800px;
}

.container-large {
    max-width: 1296px;
}
