html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: var(--a-surface-default);
    color: var(--a-text-default);
    font-family: var(--a-font-family);
    font-size: var(--a-font-size-large);
    scrollbar-gutter: stable;
}

#__next {
    height: 100%;
}

.page-margin-top-and-bottom {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bedrift-h1 {
    max-width: 22ch;
}

@media (min-width: 768px) {
    .page-margin-top-and-bottom {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

.arb-home-section-flex {
    display: flex;
    gap: 1rem 6rem;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.arb-home-div-width {
    flex: 3;
}

.main-page-heading {
    font-size: 64px;
}

@media (max-width: 480px) {
    .main-page-heading {
        font-size: var(--a-font-size-heading-xlarge);
        letter-spacing: -0.008em;
        line-height: var(--a-font-line-height-heading-xlarge);
    }

    /* stylelint-disable-next-line */
    .main-page-heading.navds-typo--spacing {
        margin-bottom: var(--a-spacing-4);
    }
}

.arb-home-illustration {
    flex: 1;
    display: none;
}

@media (min-width: 1024px) {
    .arb-home-illustration {
        display: flex;
        justify-content: center;
    }

    .arb-home-illustration-person {
        padding: 0 3rem;
        /*align-self: flex-start;*/
    }
}

.arb-link-panel-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 768px) {
    .arb-link-panel-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
}

.ukraine-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
    margin: 0;
}

/**** ARTICLE ****/

.article-image {
    border-radius: 96px 0 0 0;
    position: relative !important;
    max-height: 400px;
    object-fit: cover;
}

.article-image-pos {
    object-position: 0 35%;
}

.article-image-pos-thon {
    object-position: 0 20%;
}

.article-image-pos-thon2 {
    object-position: 0 5%;
}

.h-2 {
    height: 2rem;
}
