html,
body {
    height: 100%;
    margin: 0;
}

body {
    overflow-y: scroll;
    background: var(--a-surface-default);
    color: var(--a-text-default);
    font-family: var(--a-font-family);
    font-size: var(--a-font-size-large);
}

#__next {
    height: 100%;
}

.push-footer-down {
    min-height: 100%;
    margin-bottom: -764px;
    padding-bottom: 764px;
}

@media (min-width: 940px) {
    .push-footer-down {
        margin-bottom: -464px;
        padding-bottom: 464px;
    }
}

.content {
    max-width: 1300px;
    margin: auto;
    padding: 0 1rem;
}

@media (min-width: 900px) {
    .content {
        padding: 0 2.5rem;
    }
}

.page-margin-top-and-bottom {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .page-margin-top-and-bottom {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

.arb-home-section-flex {
    display: flex;
    gap: 1rem 6rem;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.arb-home-div-width {
    flex: 3;
}

.arb-home-illustration {
    flex: 1;
    display: none;
}

@media (min-width: 1024px) {
    .arb-home-illustration {
        display: flex;
        justify-content: center;
    }

    .arb-home-illustration-person {
        padding: 0 3rem;
        align-self: flex-start;
    }
}

.arb-link-panel-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 768px) {
    .arb-link-panel-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
}

.ukraine-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
    margin: 0;
}

.no-list-style {
    list-style: none;
    padding: 0;
}
