html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: var(--a-surface-default);
    color: var(--a-text-default);
    font-family: var(--font-inter);
    font-feature-settings: "salt", "ss03";
    font-variation-settings: "opsz" 14;
}

input,
dialog,
select,
option,
textarea,
button {
    font-family: var(--font-inter);
    font-feature-settings: "salt", "ss03";
    font-variation-settings: "opsz" 14;
}

#__next {
    height: 100%;
}

/* Todo: move to arbeidsplassen-design */
[data-theme="arbeidsplassen-dark"] {
    --arb-image-filter: brightness(95%) saturate(90%);
}
img {
    filter: var(--arb-image-filter, none);
}

.flex-1 {
    flex: 1;
}
