[data-theme="arbeidsplassen-dark"] {
    --arb-svg-arms-and-legs: var(--arb-dark-mode-shade-400);
    --arb-svg-arms-and-legs-fill: var(--arb-dark-mode-shade-400);
    --arb-svg-shadow: var(--arb-dark-mode-shade-100);
}

[data-theme="arbeidsplassen"] {
    --arb-svg-arms-and-legs: var(--arb-green-700);
    --arb-svg-arms-and-legs-fill: var(--arb-green-700);
    --arb-svg-shadow: var(--arb-blue-50);
}

.arb-svg-arms-and-legs {
    stroke: var(--arb-svg-arms-and-legs);
}

.arb-svg-arms-and-legs-fill {
    fill: var(--arb-svg-arms-and-legs-fill);
}

.arb-svg-shadow {
    fill: var(--arb-svg-shadow);
}
