.ukraine-page-main h1,
.ukraine-page-main p {
    text-align: center;
}

.ukraine-page-main .navds-chips {
    justify-content: center;
}

.ukraine-page .green-box {
    background: var(--arb-green-50);
    margin: 0 0 3rem 0;
    padding: 1rem 0;
}

.ukraine-page .green-box-inner {
    margin: 0 auto;
    max-width: 832px;
    padding: 0 1rem;
}

.ukraine-page .contents {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ukraine-page .link-panel-stack {
    grid-template-columns: repeat(1, 1fr);
}
